#root {
  max-width: 1280px;
  margin: auto auto;
  padding: 1rem;
  text-align: center;
  
}

.App{
    position: relative;
    background: linear-gradient(0deg, #000, #272727);
}

.App:before,
.App:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
      #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.App:after {
  filter: blur(5px);
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -------------------------- */
.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 50px;
  background: #232323;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  color: #FF0;
  font-size: 20px;
  font-family: verdana;
  letter-spacing: 4px;
     border-radius: 20px;
}

.btn:before,
.btn:after,
span:before,
span:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #FF0;
  transition: 1s;
  mix-blend-mode: hue;
}

.btn:before {
  top: -2px;
  left: -2px
}

.btn:after {
  top: -2px;
  right: -2px;
}

span:before {
  bottom: -2px;
  left: -2px
}

span:after {
  bottom: -2px;
  right: -2px
}

.btn:hover:before,
.btn:hover:after,
.btn:hover span:before,
.btn:hover span:after {
  width: calc(180px/2);
  height: calc(50px/2)
}